{{#> main }}
<p>
   <b>Hello {{ name }},</b></br></br>
   just one more step you get started.</br>
   You Must confirm your identity using this one-time pass code:{{passCode}}</br></br>

   Sincerely,</br>
   <b>CodeZero2Pi Solutions.</b>
  
</p>
{{/main}}