{{#> main }}
<p>
   <b>Hello {{ name }},</b></br></br>
   Many thanks for submitting a bid on behalf of Property : {{PropertyName}}.</br>
   We are truly appreciative of the time you took to draft the bid as well as your interest.</br></br>

    Sincerely,</br>
   <b>CodeZero2Pi Solutions.</b>
  
</p>
{{/main}}